.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  min-height: 100vh;
}

.start-button {
  cursor: pointer;
  background:black;
  color: white;
  border: none;
  padding: 20px 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.again-button {
  cursor: pointer;
  background:red;
  color: white;
  border: none;
  padding: 20px 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.next-button {
  cursor: pointer;
  background:black;
  color: white;
  border: none;
  padding: 20px 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.game-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 80px;
}
